body{
    font-family: 'Lato', sans-serif;
}
*{
    box-sizing: border-box;
}
.container{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.hero{

    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), 
                      url(Image/background.svg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
/* start Header */
header{
    padding-top: 33px;
    padding-bottom: 27px;
}
.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cloud-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.cloud{
    align-self: flex-start;
}
.logo a{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18);
    color: #FFFFFF;
}
.list-hero{
    display: flex;
    gap: 25px;
}
.list-hero a{
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(17 / 14);
    color: #FFFFFF;
}
button{
    font-size: 14px;
    line-height: calc(17 / 14);
    color: #FFFFFF;
    padding: 12px 29px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    background-color: transparent;
}
/* end Header */

/* start Hero section */

.content-hero{
    padding-top: 154px;
    padding-bottom: 177px;
}
.content{
   width: 578px;
   margin-left: auto;
   margin-right: auto;
}
.text-hero{
   display: flex;
   flex-direction: column;
}
h1{
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 72px;
    line-height: calc(86 / 72);
    margin-bottom: 39px;
}
.paragraf-hero{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 59px;
}
.button-hero{
    align-self: center;
    color: #ED4C5C;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17 / 14);
    background: #FFFFFF;
    border-radius: 6px;
    padding: 21px 20px;
    min-width: 165px;
}
/* end Hero-section */


/* start section Easy */
.easy{
    padding-top: 95px;
    padding-bottom: 94px;
}
.easy > div{
    display: flex;
    gap: 125px;
}
.easy-content{
    align-self: center;
}
.easy-content h2{
    font-weight: 600;
    font-size: 36px;
    line-height: calc(43 / 36);
    color: #000000;
    margin-bottom: 56px;
}
.easy-content p{
    font-size: 16px;
    line-height: calc(22 / 16);
    color: #000000;
}
/* end section Easy */

/* start section Features */
.background-features{
    background-color: #FAFAFA ;
}
.features{
    padding-top: 63px;
    padding-bottom: 124px;
    color: #101010;

}
.features h2{
    font-weight: 600;
    font-size: 36px;
    line-height: calc(43 / 36);
    margin-bottom: 63px;
    text-align: center;
}
.list-features{
    display: flex;
    gap: 30px;
}
.list-features > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-features li{
    max-width: 350px;
    
}
.column-features{
    width: 293px;
    padding: 33px 32px 25px 32px ;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 8px;
    text-align: center;
    position: relative;
    left: 28px ;
    bottom: 95px;
}
.column-features h3{
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18);
    margin-bottom: 20px;
}
.column-features p{
    font-size: 14px;
    line-height: calc(21 / 14);
    margin-bottom: 20px;
}
.column-features a{
    color: #ED4C5C;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: calc(18 / 12);
}

/* end section Features */


/* start section Technology */
.technology{
    padding-top: 63px;
    padding-bottom: 104px;
}
.technology h2{
    font-weight: 600;
    font-size: 36px;
    line-height: calc(43 / 36);
    text-align: center;
    margin-bottom: 60px;
}
.list-technology {
    display: flex;
    gap: 30px;
    text-align: center;
}
.list-technology li{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 255px;
    padding: 60px 30px 5px 30px;
}
.list-technology .number{
    position: absolute;
    top: 3px;
    font-weight: 700;
    font-size: 100px;
    line-height: calc(120 / 100);
    color: rgba(16, 16, 16, 0.08);
}
.list-technology h3{
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18);
    margin-bottom: 10px;
}
.list-technology p{
    font-size: 14px;
    line-height: calc(17 / 14);
}
/* end section Technology */


/* start section Money */
.background-money{
    background-color:#ED4C5C;
    color: #FFFFFF;
}
.money{
    padding-top: 61px;
    padding-bottom: 62px;
}
.money > div{
    display: flex;
    gap: 125px;
}
.money-content{
    align-self: center;
}
.money-content h2{
    font-weight: 600;
    font-size: 36px;
    line-height: calc(43 / 36);
    margin-bottom: 32px;
}
.money-content p{
    font-size: 16px;
    line-height: calc(22 / 16);
    margin-bottom: 37px;
}
.list-money{
    display: flex;
    gap: 25px;
}
.money-image img{
    border: 1px #ED4C5C solid;
    border-radius: 20px;
}
/* end section Money */



/* start section Contact */
.contact{
    padding-top: 125px;
    padding-bottom: 74px;
}
.contact > div{
    display: flex;
    gap: 125px;
}
.text h2{
    width: 600;
    font-size: 36px;
    line-height: calc(43 / 36);
    margin-bottom: 36px;
    color: #000000;
}
.text p{
    font-size: 16px;
    line-height: 140%;
    width: 445px;
}
.form{
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.name{
    display: flex;
    gap: 30px;
}
input{
    width: 100%;
    padding: 21px 31px 22px 31px;
    border: 1px solid #333333;
    border-radius: 6px;
    color: rgba(19, 39, 67, 0.5);
}
.form-button{
    align-self: flex-start;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    background-color: #ED4C5C;
    font-size: 14px;
    line-height: calc(17 / 14);
    color: #FFFFFF;
    padding: 22px 34px;
}

/* end section Contact */

/* start Footer */
.basement{
    background: #FAFAFA;
    padding-top: 89px;
    padding-bottom: 79px;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 70px;
    
}
.footer-col{
    width: calc((100% - 90px)/ 4);
}
.footer-col h2{
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18); 
    margin-bottom: 33px;   
}
.footer-paragraf{
    font-size: 14px;
    line-height: calc(21 / 14);
}
.navigate-footer a{
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    line-height: 160%;
}
.link{
    margin-bottom: 19px;
}
.link a{
    text-decoration: none;
    color: #101010;
    font-size: 14px;
    line-height: calc(17 / 14);
}
.icons{
    display: flex;
    gap: 15px;
}

/* end Footer */